@import url("https://fonts.googleapis.com/css2?family=Alef&display=swap");
:root {
  --primary-color: #007AF3
;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: 'Alef', sans-serif;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar span {
  color: var(--primary-color);
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
  width: 1.8em;
}

nav {
  display: none;
  background: #20272e;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  width: 66%;
  height: 70vh;
  padding: 1em;
}

nav .primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
  font-size: 1.5em;
}

nav .mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

nav.menu-btn {
  display: block;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 3.0em;
  line-height: 1.3em;
  margin-top: .2em;
}

.left-col .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.left-col .watch-video-cta {
  display: block;
  margin-top: 1em;
}

.left-col .watch-video-cta img {
  margin-right: .5em;
}

.hero-img {
  width: 80%;
  margin-top: 3em;
}

.features-section {
  background: #20272e;
  color: white;
}

.features-section .features-list {
  margin-bottom: .9em;
  padding-left: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(13rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
}

.features-section .features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
  max-width: 90%;
}

.features-section .features-list li:before {
  content: '';
  position: absolute;
  left: -2em;
  width: 20px;
  height: 20px;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: .5em;
}

.features-section img {
  display: none;
}

.testimonials-section {
  background: var(--primary-color);
  color: white;
}

.testimonials-section li {
  background: #006bd6;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: .5em;
}

.testimonials-section img {
  width: 5em;
  height: 5em;
  border: 5px solid #006bd6;
  border-radius: 50%;
  margin-top: -4.5em;
}

.testimonials-section ul {
  margin-bottom: -5em;
}

.contact-left h2 {
  font-size: 2em;
}

.contact-left label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

.contact-left input, .contact-left textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border: 1px dotted gray;
}

.contact-left input[type="submit"] {
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em;
  cursor: pointer;
  width: unset;
}

iframe {
  width: 100%;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px, auto;
        grid-template-columns: 180px, auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar .container .logo {
    font-size: 1.6em;
    margin-top: -0.2em;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: absolute;
    width: 76%;
    height: auto;
  }
  .navbar nav a {
    color: black;
    padding: .1em 1em;
    font-size: 1em;
  }
  .navbar nav a:hover {
    font-size: 1.1em;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav .primary-nav {
    margin: 0;
  }
  .navbar nav .current a {
    font-weight: bold;
  }
  .navbar nav .go-premium-cta a {
    color: var(--primary-color);
    font-weight: bold;
    border: 3px solid var(--primary-color);
    border-radius: 5em;
    margin-top: -.2em;
  }
  .navbar nav .go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
    font-size: unset;
  }
  .hero-img {
    width: unset;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 5.5em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    padding: 0 0 0 3em;
  }
  .hero .container .left-col {
    margin: 3.4em 3em 0 3em;
  }
  .hero .container .left-col h1 {
    font-size: 4em;
    width: 90%;
  }
  .hero .container .hero-img {
    width: 35%;
    margin-right: 4em;
  }
  .hero .container .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -2em;
  }
  .hero .container .hero-cta .primary-cta {
    margin-right: 1em;
  }
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block;
    width: 300px;
    position: absolute;
    right: 1em;
    bottom: -2em;
  }
  .features-section:before {
    content: '';
    position: absolute;
    background: var(--primary-color);
    left: 0;
    top: -4em;
    width: 10%;
    height: 20em;
  }
  .features-section:after {
    content: '';
    position: absolute;
    background: url("../images/dots.svg");
    background-repeat: no-repeat;
    left: 3.5em;
    top: 2em;
    width: 1200px;
    height: 20em;
  }
  .features-section ul.features-list {
    display: block;
    margin-left: 9em;
  }
  .features-section ul.features-list li {
    font-size: 1.5em;
  }
  .features-section ul.features-list li:before {
    width: 40px;
    height: 30px;
  }
  .testimonials-section .container {
    margin-bottom: 1.9em;
  }
  .testimonials-section .container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials-section .container ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-section .contact-right {
    position: absolute;
    right: 0;
    width: 45%;
    height: 100%;
  }
  .contact-section .contact-right iframe {
    height: 90%;
  }
}
/*# sourceMappingURL=main.css.map */