@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

:root {
    --primary-color: #007AF3
}

// $primary-color: #007AF3;

* {
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Alef', sans-serif;
}

.navbar {
    background: white;
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;
    }

    span {
        // color: $primary-color;
        color: var(--primary-color);
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
        width: 1.8em;
    }
}

nav {
    display: none;
    background: #20272e;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    width: 66%;
    height: 70vh;
    padding: 1em;

    .primary-nav {
        margin-top: 5em;
    }

    li {
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
                font-size: 1.5em;
            }
        }
    }

    // .menu-btn {
    //     display: block;
    // }

    .mobile-menu-exit {
        float: right;
        margin: .5em;
        cursor: pointer;
    }

}

nav.menu-btn {
    display: block;
}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}


.hero {
    text-align: center;
}

.left-col {
    
    .subhead {
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: .3em;
    }

    h1 {
        font-size: 3.0em;
        line-height: 1.3em;
        margin-top: .2em;
    }

    .primary-cta {
        background: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }

    .watch-video-cta {
        display: block;
        margin-top: 1em;

        img {
            margin-right: .5em;
        }
    }
}

.hero-img {
    width: 80%;
    margin-top: 3em;
}

.features-section {
    background: #20272e;
    color: white;

    .features-list {
        margin-bottom: .9em;
        padding-left: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    
        li {
          font-size: 1.1em;
          margin-bottom: 1em;
          margin-left: 2em;
          position: relative;
          max-width: 90%;
    
            &:before {
                content: '';
                position: absolute;
                left: -2em;
                width: 20px;
                height: 20px;
                background-image: url('../images/bullet.svg');
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: .5em;
            }
        }
    }

    img {
        display: none;
    }
}

.testimonials-section{
    background: var(--primary-color);
    color: white;

    li {
        background: #006bd6;
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        border-radius: .5em;
    }

    img {
        width: 5em;
        height: 5em;
        border: 5px solid #006bd6;
        border-radius: 50%;
        margin-top: -4.5em;
    }

    ul {
        margin-bottom: -5em;
    }
    
}

.contact-left {
    h2 {
        font-size: 2em;
        // text-align: center;
    }

    label {
        display: block;
        font-size: 1.2em;
        margin-bottom: .5em;
    }

    input, textarea {
        // display: block;
        width: 100%; 
        padding: .8em;
        margin-bottom: 1em;
        border: 1px dotted gray;
    }

    input[type="submit"] {
        border: none;
        background-color: var(--primary-color) ;
        color: white;
        font-size: 1.3em;
        font-weight: bold;
        margin-bottom: 5em;
        border-radius: 5em;
        display: inline-block;
        padding: .8em;
        cursor: pointer;
        width: unset;
    }
}

iframe {
    width: 100%;
    height: 300px;
}


@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }
    
    .navbar .container {
        display: grid;
        grid-template-columns: 180px, auto;
        justify-content: unset;

        .logo {
            font-size: 1.6em;
            margin-top: -0.2em;
        }
    }


    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        // position: unset;
        position: absolute;
        width: 76%;
        height: auto;
        // padding: 0;

        a {
            color: black;
            padding: .1em 1em;
            font-size: 1em;

            &:hover {
                font-size: 1.1em;
            }
        }

        ul {
            display: flex;
        }

        .primary-nav {
            margin: 0;
        }

        .current a {
            font-weight: bold;
        }

        .go-premium-cta a {
            color: var(--primary-color);
            font-weight: bold;
            border: 3px solid var(--primary-color);
            border-radius: 5em;
            margin-top: -.2em;

            &:hover {
                background: var(--primary-color);
                color: white;
                font-size: unset;
            }
        }
    }

    .hero-img {
        width: unset;
    }
}

@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 5.5em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;
        // background: gray;
        padding: 0 0 0 3em;

        .left-col {
            margin: 3.4em 3em 0 3em;

            h1 {
                font-size:4em;
                width: 90%;
            }
        }

        .hero-img {
            width: 35%;
            margin-right: 4em;
        }

        .hero-cta {
            display: flex;
            margin-top: -2em;

            .primary-cta {
                margin-right: 1em;
            }
        }
    }


    .features-section {
        position: relative;

        img {
            display: block;
            width: 300px;
            position: absolute;
            right: 1em;
            bottom: -2em;
        }

        &:before {
            content: '';
            position: absolute;
            background: var(--primary-color);
            left: 0;
            top: -4em;
            width: 10%;
            height: 20em;
        }

        &:after {
            content: '';
            position: absolute;
            background: url('../images/dots.svg');
            background-repeat: no-repeat;
            left: 3.5em;
            top: 2em;
            width: 1200px;
            height: 20em;
        }

        ul.features-list {
            display: block;
            margin-left: 9em;
    
            li {
                font-size: 1.5em;
    
                &:before {
                    width: 40px;
                    height: 30px;
                }
            }
        }
    }




    .testimonials-section .container {
        margin-bottom: 1.9em;

        ul {
            display: flex;
    
            li {
                margin: 0 1em;
            }
        }
    }

    .contact-section {
        position: relative;

        .container {
            display: flex;
        }

        .contact-right {
            position: absolute;
            right: 0;
            width: 45%;
            height: 100%;

            iframe {
                height: 90%;
            }
        }

        
    }

}